*{
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* WORKING ON HEADER */

.navbar {
  width: 100%;
  height: 50px;
  background-color: #f72210;
  margin-bottom: 5px;
}

.fa-bars {
  color: #fb9a94;
  ;
}

/* WOEKING ON MAIN */

.float-absolue {
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  font-weight: 700;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  bottom: 0;
  left: 0;
}

.heading-link {
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

.heading-link:hover {
  text-decoration: none;
  color: black;
  box-shadow: inset 0px -1px #f72210;
}

.top-story-container .heading-link {
  font-size: 20px;
}

.featured-story-container .heading-link{
  font-size: 20px;
}
.block-title {
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, .4);
  padding-top: 11px;
  padding-bottom: 11px;
}

.img-square-25 {
  width: 95px;
  height: 95px;
  background-position: cover;
}

.more-story {
  min-height: 96px;
}

.latest-news {
  min-height: 96px;
}

/* WORKING ON BOOTOM */

.n-title {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.n-icon {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.see-all {
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  text-decoration: none;
}

.see-all::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  /* background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat; */
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
}

.see-all:hover {
  background-color: #dbdcdd;
  text-decoration: none;
  color: black;
}

.magzine-item img {
  min-height: 60%;
}

.category {
  font: bold 14px/26px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mag-cat {
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

.cat a {
  font: bold 14px/26px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  text-decoration: none;
}

.border-bottem {
  border-bottom: 1px solid lightgray;
}

.featured-slideshow .n-icon {
  position: relative;
}

.featured-slideshow .n-icon::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.count-link {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}

.category-link {
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
  text-transform: none;
}

.category-link:hover {
  text-decoration: none;
  color: #f72210;
}

.category-item-small{
  min-height: 95px;
}
.category-item-small img {
   width: 90px;
   height: 90px;
}

.cat-item-link{
  color: black;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
}

.cat-item-link:hover{
  color: #f72210;
  text-decoration: none;
}